{% extends "builder/base.html" %}
{% block content %}
<h1>System Builder</h1>
<p>Start creating your awesome build here!</p>

<table>
    <thead>Component        Selector        Base       Discounts        Shipping        Tax     Price       Delivery Address</thead>
    <tr>
        <td><a href="url">CPU</a></td>
        <td>Choose A CPU</td>
    </tr>
    <tr>
        <td><a href="url">CPU Cooler</a></td>
        <td>Choose A CPU Cooler</td>
    </tr>
    <tr>
        <td><a href="url">Motherboard</a></td>
        <td>Choose A Motherboard</td>
    <tr>
        <td><a href="url">Memory</a></td>
        <td>Choose Memory</td>
    </tr>
    <tr>
        <td><a href="url">Storage</a></td>
        <td>Choose Storage</td>
    </tr>
    <tr>
        <td><a href="url">Video Card</a></td>
        <td>Choose A Video Card</td>
    </tr>
    <tr>
        <td><a href="url">Case</a></td>
        <td>Choose A Case</td>
    </tr>
    <tr>
        <td><a href="url">Power Supply</a></td>
        <td>Choose A Power Supply</td>
    </tr>
    <tr>
        <td><a href="url">Optical Drive</a></td>
        <td>Choose An Optical Drive</td>
    </tr>
    <tr>
        <td><a href="url">Operating System</a></td>
        <td>Choose An Operating System</td>
    </tr>
    <tr>
        <td><a href="url">Software</a></td>
        <td>Choose Sotware</td>
    </tr>
    <tr>
        <td><a href="url">Moniter</a></td>
        <td>Choose A Moniter</td>
    </tr>
    <tr>
        <td><a href="url">External Storage</a></td>
        <td>Choose External Storage</td>
    </tr>
    <tr>
        <td><a href="url">Laptop</a></td>
        <td>Choose A Laptop</td>
    </tr>
</table>

{% endblock content %}