{% extends "builder/base.html" %}
{% block content %}
	<table style="width:100%">
	  <tr>
	    <th>Name</th>
	    <th>Core Count</th>
	    <th>Core Clock</th>
	    <th>Boost Clock</th>
	    <th>TDP</th>
	    <th>Integrated Graphics</th>
	    <th>SMT</th>
	    <th>Rating</th>
	    <th>Price</th>
	  </tr>
	  
	{% for Cpu in cpus %}
	<tr>
	    <td>{{ Cpu.cpu_name }}</td>
	    <td>{{ Cpu.core_count }}</td>
	    <td>{{ Cpu.core_clock }}</td>
	    <td>{{ Cpu.boost_clock }}</td>
	    <td>{{ Cpu.tdp }}</td>
	    <td>{{ Cpu.intigrated_graphics }}</td>
	    <td>{{ Cpu.smt }}</td>
	    <td>{{ Cpu.rating }}</td>
	    <td>{{ Cpu.price }}</td>
	    <td>
	    	<form action="/parts/" method="POST" id="cpuButton">
	    		{% csrf_token %}
	    		<button type="submit" name="cpuButton" value= "{{ Cpu.cpu_name }}" form="caseButton">Add to Build</button>
	    	</form>
	    </td>
	    
	</tr>	
	{% endfor %}
	</table>
{% endblock content %}