{% extends "builder/base.html" %}
{% block content %}
	<table style="width:100%">
	  <tr>
	    <th>Name</th>	    
	    <th>Chipset</th>
	    <th>Memory</th>
	    <th>Core Clock</th>
	    <th>Boost Clock</th>
	    <th>Color</th>
	    <th>Length</th>	    
	    <th>Rating</th>
	    <th>Price</th>
	  </tr>
	  
	{% for gpus in gpu %}
	<tr>
	    <td>{{ Gpu.gpu_name }}</td>
	    <td>{{ Gpu.chipset }}</td>
	    <td>{{ Gpu.memory }}</td>
	    <td>{{ Gpu.core_clock }}</td>
	    <td>{{ Gpu.boost_clock }}</td>
	    <td>{{ Gpu.color }}</td>
	    <td>{{ Gpu.length }}</td>
	    <td>{{ Gpu.rating }}</td>
	    <td>{{ Gpu.price }}</td>
	</tr>	
	{% endfor %}
	</table>
{% endblock content %}