{% extends "builder/base.html" %}
{% block content %}
	<table style="width:100%">
	  <tr>
	    <th>Name</th>	    
	    <th>Speed</th>
	    <th>Modules</th>
	    <th>Price/GB</th>
	    <th>Color</th>
	    <th>First Word Latency</th>
	    <th>CAS Latency</th>	    
	    <th>Rating</th>
	    <th>Price</th>
	  </tr>
	  
	{% for memory in Memory2 %}
	<tr>
	    <td>{{ Memory2.mem_name }}</td>
	    <td>{{ Memory2.speed }}</td>
	    <td>{{ Memory2.modules }}</td>
	    <td>{{ Memory2.price_gb }}</td>
	    <td>{{ Memory2.color }}</td>
	    <td>{{ Memory2.f_word_latency }}</td>
	    <td>{{ Memory2.cas_latency }}</td>
	    <td>{{ Memory2.rating }}</td>
	    <td>{{ Memory2.price }}</td>
	</tr>	
	{% endfor %}
	</table>
{% endblock content %}