{% extends "builder/base.html" %}
{% block content %}
<style type="text/css">
	a,h2 {
		display: inline-block;
	}
	h2,h1 {
		font-size: 3rem;
		font-weight: bold;
		background-image: url(https://t4.ftcdn.net/jpg/01/45/06/71/240_F_145067120_RAltFMpBa3ZdrYOhqo4q18t7PpEyJKYa.jpg);
		-webkit-background-clip:text;
		background-clip:text;
		color: transparent;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.carousel{
		display: none;
	}
</style>
<h1>Build Parts</h1>
<label for="parts">Choose a part:</label>
<select id="parts" class="container" onchange="setTimeout(scrollFunction(),1500);">
    <<option value="CPU">CPU</option>
    <option value="CPU Cooler">CPU Cooler</option>
    <option value="Motherboard">Motherboard</option>
    <option value="Memory 1">Memory 1</option>
    <option value="Memory 2">Memory 2</option>
    <option value="Storage 1">Storage 1</option>
    <option value="Storage 2">Storage 2</option>
    <option value="Storage 3">Storage 3</option>
    <option value="GPU">GPU</option>
    <option value="Case">Case</option>
    <option value="PSU">PSU</option>
    <option value="Moniter 1">Moniter 1</option>
    <option value="Moniter 2">Moniter 2</option>
    <option value="Moniter 3">Moniter 3</option>
</select>

<script>
	
	function scrollFunction(){
		var x = document.getElementById("parts").selectedIndex;
		var idValues = ["CPU","CPU_Cooler","Mother","Mem1","Mem2","Storage1",
		"Storage2","Storage3","GPU","PSU","Mon1","Mon2","Mon3"];
		var element = document.getElementById(idValues[x-1]);

		element.scrollIntoView();
		
	}
</script>
<p>
  Your value <spam id="changed"></spam>
</p>


<a href="/cpu"><h2 id="CPU">CPU</h2></a><br><br>

<a href="/cpu_coolers"><h2 id="CPU_Cooler">CPU Cooler</h2></a><br><br>

<a href="/mobo"><h2 id="mobo">Motherboard</h2></a><br><br>

<a href="/mem1"><h2 id="Mem1">Memory 1</h2></a><br><br>

<a href="/mem2"><h2 id="Mem2">Memory 2</h2></a><br><br>

<a href="/storage1"><h2 id="Storage1">Storage 1</h2></a><br><br>

<a href="/storage2"><h2 id="Storage2">Storage 2</h2></a><br><br>

<a href="/storage3"><h2 id="Storage3">Storage 3</h2></a><br><br>

<a href="/gpu"><h2 id="GPU">GPU</h2></a><br><br>

<a href="/cases"><h2 id="Case">{{ system }}</h2></a><br><br>

<a href="/psu"><h2 id="PSU">PSU</h2></a><br><br>

<a href="/mon1"><h2 id="Mon1">Moniter 1</h2></a><br><br>

<a href="/mon2"><h2 id="Mon2">Moniter 2</h2></a><br><br>

<a href="/mon3"><h2 id="Mon3">Moniter 3</h2></a><br><br>





{% endblock content %}