{% extends "builder/base.html" %}
{% block content %}
    <h1>Account Register</h1>

    <form>
        <label for="uName">Enter Account Username:</label><br>
        <input type="text" id="uName" name="uName"><br>
        <label for="pWord">Enter Account Password:</label><br />
        <input type="text" id="pWord" name="pWord" /><br />
        <label for="email">Enter Email you want linked to account:</label><br />
        <input type="text" id="email" name="email" /><br />
    </form>

{% endblock content %}